.sidebar-container {
    height: 70px;
    box-shadow: 0px 4px 1px rgb(235, 233, 236);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.deconnection {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.deconnexion-btn {
    font-size: 24px;
    padding-right: 1rem;
    cursor: pointer;
}

.modalProfil {}

.nomUser {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.recherche span {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}