.login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../../assets/images/photo.jpg") no-repeat;
    background-size: cover;
    width: 100%;

    .main {
        width: 500px;
        height: 340px;
        display: flex;
        justify-content: center;
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        background-color: white;
        padding: 1rem;
        border-radius: 9px;
        height: auto;

        form {
            background: transparent;
            border: 2px solid rgba(255, 255, 255, 0.5);
            border-radius: 0px 9px 9px 0px;
            width: 100%;

            .header_form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 120px;
                    height: 90px;
                    border-radius: 90% 90% 0% 0%;
                }

                span {
                    margin-left: 1rem;
                    font-size: 30px;
                    border-bottom: solid 2px blue;
                    color: blue;
                }
            }

            .input_form {
                margin: 1rem;

                input {
                    margin-top: .5rem;
                    height: 50px;
                }

                .button {
                    width: 100%;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: bold;
                    font-size: 20px;
                    height: 50px;
                }
            }

            .footer {
                margin-top: 2rem;
                margin-left: 1rem;
                display: flex;
                justify-content: space-around;
                align-items: center;

                a {
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}