<div class="traitement">    
    <form [formGroup]="formTraitement" (ngSubmit)="ajoutrTraitement(formTraitement)">
        <div class="header">
            <span>Validation traitement</span>
        </div>
        <div class="form-group">
            <label for="" class="form-label">Description</label>
            <input type="text" formControlName="description" class="form-control" placeholder="Description de travail">
        </div>
        <div class="form-group">
            <label for="" class="form-label">Duree Audio</label>
            <input type="number" formControlName="audio" class="form-control" placeholder="Duree audio par munite">
            <small *ngIf="formTraitement.controls['audio'].errors && formTraitement.controls['audio'].touched" class="text-danger">Remplir le champ audio</small>
        </div>
        <div class="form-group">
            <label for="" class="form-label">Fichier doc</label>
            <input type="file"class="form-control" accept=".docx" class="form-control" (change)="onSelectFile($event)">
            <small *ngIf="messageIsValider" class="text-danger">{{messageIsValider}}</small>
        </div>
        <div class="form-group">
            <button [disabled]="!isValidation" class="btn btn-primary form-control">Ajouter</button>
        </div>
    </form>
</div>
