.liste-facture {
    margin: 1rem;

    .scroll-container {
        //background-color: red;
        overflow-y: scroll;
        height: 90px;
        /* Ajustez la hauteur selon vos besoins */
    }
}