<div class="liste-facture">
    <div class="header">

    </div>
    <div class="table">
        <table class="table table-bordered">
            <thead>
               <tr>
                <th>#</th>
                <th>Client</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Mois</th>
                <th>Action</th>
               </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
    </div>
    <video controls style="background-color: aqua;" >
        <source [src]="videoUrl">        
    </video>
    <h1 *ngIf="videoUrl">
        <video controls style="background-color: aqua;"[src]="videoUrl" >
                    
        </video>
        salu
    </h1>
    <!--<div #scrollContainer class="scroll-container">
        <div>
            <span>saluuuuuuu</span>
            
        </div>
        <div>
            <span>saluuuuuuu</span>
        </div>
        <div>
            <span>saluuuuuuu</span>
        </div>
        <div>
            <span>saluuuuuuu</span>
        </div>
        <div>
            <span>saluuuuuuu</span>
            
        </div>
        <div>
            <span>saluuuuuuu</span>
        </div>
        <div>
            <span>saluuuuuuu</span>
        </div>
        <div>
            <span>saluuuuuuu</span>
        </div>
    </div>-->  
</div>
